/*
// INF 653 Final Project Rest API
// Author: Craig Freeburg
// Date: 5/1/2021
// File: main.css

*/


body {
    background: url("../img/blackbrick.jpg");
    background-color: black;
    font-family: 'Finger Paint', cursive;
}